section {
    position: static;
    display: block;
    width: 100%;
    height: 100%;
    background: $black;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100%; // overflow: hidden;
}

.maincontent {
    width: 100%;
    height: 100%;
    min-height: 650px;
}

.container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    min-width: 320px;
    flex-direction: column;
    align-items: center;
}

.img__teg {
    display: block;
    max-width: 100%;
}

.section__img {
    display: flex;
    align-items: center;
    width: 55%;
    overflow: hidden;
}

.decorative {
    display: flex;
    flex-direction: column;
    color: $gold;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    top: 20%;
    opacity: .5;
    line-height: 1;
    @include portrait {
        top: 25%;
        height: 60%;
    }
    &__sb_big {
        font-size: rem(300px);
        font-family: $playfair__bold;
        font-style: normal;
        @include portrait {
            position: relative;
            top: -25%;
        }
    }
    &__sb_small {
        display: flex;
        transform: rotate(-90deg);
        &:after {
            content: '';
            display: inline-block;
            margin: rem(10px) rem(16px);
            width: 47px;
            height: 1px;
            background: $gold;
        }
    }
    &__side--right {
        right: 8%;
        @include portrait {
            right: 4%;
        }
    }
    &__side--left {
        left: 15%;
    }
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}