.cover-slider-viewport-bg
include ../../common.blocks/header/header
.welcome__section-container-center
	include ../../common.blocks/slider/cover-slider/cover-slider
.welcome__section-container-footer
	include ../../common.blocks/social-networks/social-networks
	include ../../common.blocks/slider/cover-slider/__pagination
	span.scroll-down scroll down