.user-info
{
	position: relative;
	margin: rem(50px) 0 0 0;

		&:before
		{
			content: '';
			position: absolute;
			height: 2px;
			display: block;
			width: 4%;
			left: 48%;
			top: -35%;
			background: $gold;
		}

	&__name
	{
		display: block;
		font-family: $proxima_regular;
		font-size: rem(30px);
	}

	&__car
	{
		display: block;
		@extend %playfair__bold;
		font-size: rem(18px);
	}
	
	}