.button_form_rectangle
{
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  font-size: rem(14px);
  padding: rem(20px);
  color: $black;
}

.button-form-rectangle__svg-teg
{
  position: absolute;
  top: 0;
  left: 0;
}

.button-form-rectangle__rect-teg
{
  fill: none;
  stroke: $gold;
  stroke-width: 1;
}