.cover-slider-viewport-bg
include ../../common.blocks/header/header
.welcome__center
	include ../../common.blocks/slider/cover-slider/cover-slider
.welcome__footer
	include ../../common.blocks/social-networks/social-networks
	span.scroll-down scroll down