.card-container.card-container_content_center
	.card__column
		.big-photo
			img.img-teg(src='https://source.unsplash.com/ykb57L1P_rs')
	.card__column.card__column_direction_column.card__column_width_medium
		h2.heading.heading_after_underlin-left.heading_size_medium About us
		p.text Customs - luxury automotive restyling center based in Corona, California. There is no limit to what we can do.
		a.button.button_form_rectangle.button_hover_rectangle(href='#')
			svg.button-form-rectangle__svg-teg(width="120" height="40" viewbox="0 0 120 40" xmlns="http://www.w3.org/2000/svg")
				rect.button-form-rectangle__rect-teg(x='0' y='0' fill='none' width='120' height='40')
			| more
.decorative-elemetns.decorative-elemetns--right
	i.decorative-elemetns__big-simbol A
	i.decorative-elemetns__small-text Who We Are