//colors

$white: #fff;
$gold: #e3a062;
$black: #000;

//packege

@import "~normalize/normalize";
@import "~fast-grid/fast-grid";

//sections
@import "./section/welcome";
@import "./section/about";
@import "./section/services";
@import "./section/projects";
@import "./section/reviews";
@import "./section/blog";