//colors
$white: #fff;
$gold: #e3a062;
$black: #000;

//packege
@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/fast-grid/fast-grid";

//config
@import "./config/media";
@import "./config/mixin";
@import "./config/fonts";
@import "./config/grid";
@import "./config/base";
@import "./config/adjustment";

//sections
@import "./section/welcome";
@import "./section/about";
@import "./section/services";
@import "./section/projects";
@import "./section/reviews";
@import "./section/blog";

//components
@import "./components/btn";
@import "./components/logo";
@import "./components/header";
@import "./components/h-menu/h-menu";
@import "./components/slider/slider";
@import "./components/footer/footer";