.decorating_animation
{
  stroke-width: 2px;
 
  .decorating__big-simbol-border
  {
    stroke: $gold;
    animation: dashArray 8s 1 alternate;
    animation-fill-mode: forwards;
  }
  .decorating__big-simbol-fill
  {
    fill: $gold;
    animation: fillOpacity 16s 1 alternate;
    animation-fill-mode: forwards;
  }
}


@keyframes dashArray
{
  from
  {
    stroke-dasharray: 0 500;
  }
  to
  {
    stroke-dasharray: 500 0;
  }
}

@keyframes fillOpacity
{
  from
  {
    fill-opacity: 0;
  }
  to
  {
    fill-opacity: 1;
  }
}