.decorating
{
	position: absolute;
	display: flex;
	height: 50%;
	top: 20%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	line-height: 1;
	opacity: .5;
	color: $gold;
}