$proxima_light: 'proxima_nova_light',
Helvetica,
Arial,
sans-serif;
$proxima_regular: 'proxima_nova_regular',
Helvetica,
Arial,
sans-serif;

%playfair__bold
{
  font-family: 'Playfair Display', Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
}

%playfair_italic
{
  font-family: 'Playfair Display', Helvetica, Arial, serif;
  font-weight: normal;
  font-style: 400i;
}

@font-face {
    font-family: 'proxima_nova_light';
    src: url('../fonts/proxima_nova_light-webfont.woff2') format('woff2'), 
         url('../fonts/proxima_nova_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_regular';
    src: url('../fonts/proxima_nova_regular-webfont.woff2') format('woff2'), 
         url('../fonts/proxima_nova_regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}