.footer__row
	.footer__block
		a.logo(href='#')
				.logo__icon
					img.img__teg(src='./img/logo.png', alt='Charger Customs')
				.logo__text
					span.logo__heading Charger
					span.logo__sub Customs
		p.copy &copy; 2017. All Rights Reserved
.footer__row.cut__32
	.footer__block
		nav.nav.footer__nav
			ul.nav__list
				li.nav__item
					a.nav__link.nav__link--hover(href='#') about as
				li.nav__item
					a.nav__link.nav__link--hover(href='#') services
				li.nav__item
					a.nav__link.nav__link--hover(href='#') projects
		.info
			.info__blok
				span.info__text Designed by
				p.info__autor Kirill Yevdokimov
			.info__blok
				span.info__text Developer by
				p.info__autor Studenikin Maxim