doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700', rel='stylesheet')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.1/mobile-detect.min.js')        
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js')
		link(rel='stylesheet', href='./css/main.min.css')
		script(src='./js/common.js')
		block head
	body
			block content