include ./base
	block head
		title Charger costum
block content
	.wrap
		.maincontent
			section.section-welcome.section_active
				include ./sections/welcome/welcome
			section.section-about
				include ./sections/about/about
			section.section-services
				include ./sections/services/services
			section.section-projects
				include ./sections/projects/projects
			section.section-reviews
				include ./sections/reviews/reviews
			section.section-blog
				include ./sections/blog/blog