include ./base
	block head
		title Charger costum
block content
	.wrap
		.maincontent
			section.section-container.welcome__section-container.section_active
				include ./screens/welcome/welcome
			section.section-container.about__section-container
				include ./screens/about/about
			section.section-container.services__section-container
				include ./screens/services/services
			section.section-container.projects__section-container
				include ./screens/projects/projects
			section.section-container.reviews__section-container
				include ./screens/reviews/reviews
			section.section-container.blog__section-container
				include ./screens/blog/blog