include ./base
	block head
		title Charger costum
block content
	.wrap
		.maincontent
			section.section-container.welcome__section-container.section_active
				include ./sections/welcome/welcome
			section.section-container.about__section-container
				include ./sections/about/about
			section.section-container.services__section-container
				include ./sections/services/services
			section.section-container.projects__section-container
				include ./sections/projects/projects
			section.section-container.reviews__section-container
				include ./sections/reviews/reviews
			section.section-container.blog__section-container
				include ./sections/blog/blog