//colors
$white: #fff;
$gold: #e3a062;
$black: #000;

//packege
@import "./../node_modules/normalize.css/normalize";
@import "./../node_modules/fast-grid/fast-grid";

//common scss
@import "./common.scss/media";
@import "./common.scss/mixin";
@import "./common.scss/fonts";
@import "./common.scss/grid";
@import "./common.scss/base";
@import "./common.scss/adjustment";
@import "./common.scss/mixin/effect--rectangle-to-line";

// heading
@import "./common.blocks/heading/import-heading";

//a.button
@import "./common.blocks/a.button/import-button";

// slider
@import "./common.blocks/slider/import-slider";

//blocks
@import "./common.blocks/logo/logo";
@import "./common.blocks/header/header";
@import "./common.blocks/h-menu/h-menu";
@import "./common.blocks/card/card";
@import "./common.blocks/navigation/navigation";
@import "./common.blocks/text/text";
@import "./common.blocks/text/_initial-letter";
@import "./common.blocks/text/_color_white";
@import "./common.blocks/text/_initial-letter";
@import "./common.blocks/textarea/textarea";
@import "./common.blocks/footer/footer";
@import "./common.blocks/promo/promo";
@import "./common.blocks/quote/quote";
@import "./common.blocks/user/user";
@import "./common.blocks/social-networks/social-networks";
@import "./common.blocks/decorative-elements/decorative-elements";
@import "./common.blocks/photo/big-photo";

//sections
@import "./sections/welcome/welcome";
@import "./sections/about/about";
@import "./sections/services/services";
@import "./sections/projects/projects";
@import "./sections/reviews/reviews";
@import "./sections/blog/blog";