//colors
$white: #fff;
$gold: #e3a062;
$black: #000;

//packege
@import "./../node_modules/normalize.css/normalize";
@import "./../node_modules/fast-grid/fast-grid";

//common scss
@import "./common.scss/media";
@import "./common.scss/mixin";
@import "./common.scss/fonts";
@import "./common.scss/grid";
@import "./common.scss/base";
@import "./common.scss/adjustment";
@import "./common.scss/mixin/effect--line-to-rectangle";
@import "./common.scss/mixin/effect--rectangle-to-line";
@import "./common.scss/mixin/effect--riding-underscore";

//blocks
@import "./common.blocks/a.btn/btn";
@import "./common.blocks/a.btn/btn-rectangle";
@import "./common.blocks/decorative-elements/decorative-elements";
@import "./common.blocks/h-menu/h-menu";
@import "./common.blocks/logo/logo";
@import "./common.blocks/header/header";
@import "./common.blocks/navigation/navigation";
@import "./common.blocks/h-menu/h-menu";
@import "./common.blocks/slider/cover-slider/cover-slider";
@import "./common.blocks/slider/cover-slider/cover-slider__pagination";
@import "./common.blocks/slider/slider-controls__btn/slider-controls__btn";
@import "./common.blocks/slider/text-slider/text-slider";
@import "./common.blocks/slider/slider-controls__btn/_arrow";
@import "./common.blocks/slider/slider-controls__btn/_line";
@import "./common.blocks/footer/footer";
@import "./common.blocks/social-networks/social-networks";
@import "./common.blocks/photo/big-photo";

//sections
@import "./sections/welcome/welcome";
@import "./sections/about/about";
@import "./sections/services/services";
@import "./sections/projects/projects";
@import "./sections/reviews/reviews";
@import "./sections/blog/blog";