.slider
	ul.slider__list
		li.slider__item.slider__item--active
				h1.main-heading We’re Charger
				p.paragraph.paragraph_main-text.cut__32 One of the most powerful and recognized brand names in the custom automotive industry.
				img.slider__img(src='https://source.unsplash.com/5QAeUF6Pduc')
				a.btn.btn_hover.up-cut_big(href='#')
					span.btn__text Read more
		li.slider__item
				h1.main-heading Lorem, powerful
				p.paragraph.paragraph_main-text.cut__32 Lorem ipsum dolor, sit amet consectetur adipisicing.
				img.slider__img(src='https://source.unsplash.com/8mVdlJwcZao')
				a.btn.btn_hover.up-cut_big(href='#') 
					span.btn__text Read more
		li.slider__item
				h1.main-heading Lorem
				p.paragraph.paragraph_main-text.cut__32 Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda?
				img.slider__img(src='https://source.unsplash.com/Z0iN43rOwO8')
				a.btn.btn_hover.up-cut_big(href='#')
					span.btn__text Read more
		li.slider__item
				h1.main-heading Lorem dolor
				p.paragraph.paragraph_main-text.cut__32 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam deserunt corporis dolorem?
				img.slider__img(src='https://source.unsplash.com/6nzYYtJtVDk')
				a.btn.btn_hover.up-cut_big(href='#')
					span.btn__text Read more
		li.slider__item
				h1.main-heading Lorem ipsum dolor
				p.paragraph.paragraph_main-text.cut__32 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, perferendis.
				img.slider__img(src='https://source.unsplash.com/WrKEgsBpRuY')
				a.btn.btn_hover.up-cut_big(href='#')
					span.btn__text Read more
	ul.pagination__list
		li.pagination__item 
			a.pagination__link 01
		li.pagination__item
			a.pagination__link 10
	.slider__controls
		a.slider__btn-prev.slider__btn-prev_line(href='#') prev
		a.slider__btn-next.slider__btn-next_line(href='#') next