ul.promo__list
	li.promo__item.promo__item_content_up
		.services__img
			img.img-teg(src='https://source.unsplash.com/oLK5ovd1GZU')
		.promo__description
			h3.heading.heading_after_underline-center.heading_size_small.heading_color_white Tuning
			p.text.promo__text.text_color_white.services__paragraph Modification of the performance or appearance of a vehicle.
			a.button.button_hover_line(href='#') 
				span.button__text More
	li.promo__item.promo__item_content_up
		.services__img
			img.img-teg(src='https://source.unsplash.com/-xpLiZVXUcg')
		.promo__description
			h3.heading.heading_after_underline-center.heading_size_small.heading_color_white Restoration
			p.text.promo__text.text_color_white.services__paragraph Lorem ipsum dolor sit amet consectetur.
			a.button.button_hover_line(href='#')
				span.button__text More
	li.promo__item.promo__item_content_up
		.promo__img
			img.img-teg(src='https://source.unsplash.com/HHaKG9DaQ6w')
		.promo__description
			h3.heading.heading_after_underline-center.heading_size_small.heading_color_white Repairs
			p.text.promo__text.text_color_white.services__paragraph Lorem ipsum dolor sit, amet consectetur adipisicing.
			a.button.button_hover_line(href='#')
				span.button__text More