aside.h-menu-nav
	ul.h-menu-nav_list
		li.h-menu-nav__item
			a.h-menu-nav__link.nav__link_hover(href='#') about as
		li.h-menu-nav__item
			a.h-menu-nav__link.nav__link_hover(href='#') services
		li.h-menu-nav__item
			a.h-menu-nav__link.nav__link_hover(href='#') projects