.about {
    display: flex;
    position: relative;
    background: $white;
    align-items: center;
    padding: 0 2%;
}

.blog {
    &__preview {
      position: relative;
      display: flex;
      align-items: center;
      width: 55%;
      margin: auto;
    }
    &__discription {
      display: flex;
      flex-direction: column;
      flex-basis: 26%;
    }
    &__img {
      padding: 0 5% 0 0;
      align-items: center;
      width: 655px;
      height: 540px;
      overflow: hidden;
      display: flex;
    }
}