.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background: $white;
  overflow: hidden;
  &__heading{
    top: 5%;
    &::after{
      left: 38%;
    }
  }
  &__row{
    margin: rem(15px) 0 0 0;
  }
  &__block{
    display: flex;
    flex-direction: column;
  }
  &__sb_big{
    top: -30%;
    position: relative;
  }
  &__sb_small{
    position: relative;
    bottom: -40%;
  }
}

.slidershow{
  position: relative;
  white-space: nowrap;
  z-index: 2;
  &__item{
    display: inline-block;
    width: 15%;
    padding: 0 rem(15px) 0 0;
    
    &:last-child{
      padding: 0;
    }
  }
  &__item:nth-child(2n){
    width: 20%;
  }
}

.slidershow__item--bottom{
  vertical-align: bottom;
}
.slidershow__item--top{
  vertical-align: top;
}

.slidershow--right{
  right: 25%;
}
.slidershow--left{
  left: -5%;
  transform: translate(0.2%);
}