.services {
    height: 50%;
    position: relative;
    @include portrait {
        height: 100%;
    }
    &__container {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100%;
        margin: auto;
        @include portrait {
            width: 90%;
        }
    }
    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        top: 10%;
    }
    &__list {
        position: absolute;
        color: $white;
        display: flex;
        bottom: -50px;
        justify-content: space-between;
        width: 60%;
        @include portrait{
            width: 90%;
        }
    }
    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-self: center;
        max-width: 350px;
        max-height: 350px;
        overflow: hidden;
        &:last-child {
            padding: 0;
        }
    }
    &__img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    &__description {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        width: 100%;
        text-align: center;
        height: 100%;
        top: 85%;
        justify-content: space-between;
        background: transparentize($black, 0.6);
        box-shadow: 0px -20px 20px 20px transparentize($black, 0.6);
        transition: top .6s ease-in-out;
        transition-delay: 0.3s;
        &:after,
        &:before {
            z-index: 9;
            position: absolute;
            top: 15px;
            right: 15px;
            bottom: 15px;
            left: 15px;
            content: '';
            opacity: 0;
            transition: opacity 0.35s, transform 0.35s;
        }
        &:before {
            border-top: 1px solid $gold;
            border-bottom: 1px solid $gold;
            transform: scale(0, 1);
        }
        &:after {
            border-right: 1px solid $gold;
            border-left: 1px solid $gold;
            transform: scale(1, 0);
        }
    }
    &__btn {
        z-index: 11;
    }
    &__decor {
        position: relative;
        top: -85%;
    }
    &__description--active:hover {
        .services__description {
            top: 0%;
            padding: 10% 0 0 0;
            justify-content: space-evenly;
            transition: top .3s ease-in-out;
            transition-delay: 0.3s;
            &:before,
            &:after {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    &__paragraph {
        width: 60%;
    }
}

.heading--white,
.btn__text--white {
    color: $white;
}