.welcome {
    position: relative;
    background: $black no-repeat;
    background-size: cover;
    color: $white;
    padding: rem(45px);
    display: flex;
    z-index: 2;
    .left,
    .right {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .left {
        align-items: flex-start;
    }
    .right {
        align-items: flex-end;
    }
    .center {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-between;
        @include portrait {
            justify-content: center;
        }
    }
    &__social {
        @include portrait {
            display: none;
        }
    }
}

.slider {
    width: 100%;
    top: -10%;
    position: relative;
    &__list {
        position: relative;
        white-space: nowrap;
        width: 100%;
        height: 100%;
        right: 0;
    }
    &__item {
        display: inline-block;
        width: 100%;
        white-space: normal;
    }
}

.welcome__text {
    width: 60%;
    @include portrait {
        width: 100%;
    }
}

.scroll__down {
    @include portrait {
        display: none;
    }
}

.nav {
    @include portrait {
        display: none;
    }
    &__list {
        display: flex;
    }
    &__item {
        padding: 0 rem(38px) 0 0;
        height: 40px;
        &:last-child {
            padding: 0;
        }
    }
    &__link {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
    }
    &__link--hover {
        @include hover__l_effect($white, $gold);
    }
}

.pagination {
    &__list {
        display: flex;
        font-family: $playfair__bold;
        font-family: rem(26px);
        @include portrait {
            display: none;
        }
    }
    &__item {
        &:after {
            content: '';
            display: inline-block;
            margin: rem(4px) rem(20px);
            width: 165px;
            height: 1px;
            opacity: 0.55;
            background: $white;
        }
        &:last-child::after {
            content: none;
        }
    }
}

.social {
    &__list {
        display: flex;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        &:after {
            content: '/';
            padding: 0 rem(10px);
        }
        &:last-child::after {
            content: none;
        }
    }
    &__link--hover {
        @include hover__l_effect($white, $gold);
    }
}