nav.navigation
	ul.navigation__list
		li.navigation__item
			a.navigation__link.navigation__link_hover(href='#', data-scroll-to='1') about as
		li.navigation__item
			a.navigation__link.navigation__link_hover(href='#', data-scroll-to='2') services
		li.navigation__item
			a.navigation__link.navigation__link_hover(href='#', data-scroll-to='3') projects