h3.heading.heading_size_medium.heading_after_underline-center Projects
.projects__block
	ul.slidershow.slidershow--right
		li.slidershow__item
			img.img-teg(src='https://source.unsplash.com/3ZUsNJhi_Ik')
		li.slidershow__item.slidershow__item--bottom
			img.img-teg(src='https://source.unsplash.com/1R63taCoSnM')
		li.slidershow__item.slidershow__item--bottom
			img.img-teg(src='https://source.unsplash.com/YApiWyp0lqo')
		li.slidershow__item.slidershow__item--bottom
			img.img-teg(src='https://source.unsplash.com/wTYeNrbC9ok')
		li.slidershow__item.slidershow__item--bottom
			img.img-teg(src='https://source.unsplash.com/5QAeUF6Pduc')
		li.slidershow__item.slidershow__item--bottom
			img.img-teg(src='https://source.unsplash.com/tPmDQRs_MFc')
		li.slidershow__item.slidershow__item--bottom
			img.img-teg(src='https://source.unsplash.com/AavxWqRBG5M')
		li.slidershow__item.slidershow__item--bottom
			img.img-teg(src='https://source.unsplash.com/Z0iN43rOwO8')
	.projects__row
		ul.slidershow.slidershow--left
			li.slidershow__item.slidershow__item--top
				img.img-teg(src='https://source.unsplash.com/hGIzTJ2Jvmw')
			li.slidershow__item.slidershow__item--top
				img.img-teg(src='https://source.unsplash.com/0GyzS1Hjjko')
			li.slidershow__item.slidershow__item--top
				img.img-teg(src='https://source.unsplash.com/d0yYWDJ1qDI')
			li.slidershow__item.slidershow__item--top
				img.img-teg(src='https://source.unsplash.com/q6LFMQ6wVZ0')
			li.slidershow__item.slidershow__item--top
				img.img-teg(src='https://source.unsplash.com/4HjFHFFypik')
			li.slidershow__item.slidershow__item--top
				img.img-teg(src='https://source.unsplash.com/pcwVJCSq5_k')
			li.slidershow__item.slidershow__item--top
				img.img-teg(src='https://source.unsplash.com/1R63taCoSnM')
			li.slidershow__item.slidershow__item--top
				img.img-teg(src='https://source.unsplash.com/Z0iN43rOwO8')
a.button.button_form_rectangle.button-form-rectangle_hover_rectangle(href='#')
			svg.button-form-rectangle__svg-teg(width="120" height="40" viewbox="0 0 120 40" xmlns="http://www.w3.org/2000/svg")
				rect.button-form-rectangle__rect-teg(x='0' y='0' fill='none' width='120' height='40')
			| more
.decorative-elemetns.decorative-elemetns--right
	i.decorative-elemetns__big-simbol.decorative-elemetns__projects P
	i.decorative-elemetns__small-text.projects__sb_small Our Portfolio