.decorative-elemetns
{
	display: flex;
	flex-direction: column;
	color: $gold;
	position: absolute;
	justify-content: space-between;
	align-items: center;
	height: 50%;
	top: 20%;
	opacity: .5;
	line-height: 1;
}