.wall-photo
	ul.wall-photo__list.wall-photo__list_direction_right
		li.wall-photo__item.wall-photo__item_position_top
			img.img-teg(src='https://source.unsplash.com/hGIzTJ2Jvmw')
		li.wall-photo__item.wall-photo__item_position_top
			img.img-teg(src='https://source.unsplash.com/0GyzS1Hjjko')
		li.wall-photo__item.wall-photo__item_position_top
			img.img-teg(src='https://source.unsplash.com/d0yYWDJ1qDI')
		li.wall-photo__item.wall-photo__item_position_top
			img.img-teg(src='https://source.unsplash.com/q6LFMQ6wVZ0')
		li.wall-photo__item.wall-photo__item_position_top
			img.img-teg(src='https://source.unsplash.com/4HjFHFFypik')
		li.wall-photo__item.wall-photo__item_position_top
			img.img-teg(src='https://source.unsplash.com/pcwVJCSq5_k')
		li.wall-photo__item.wall-photo__item_position_top
			img.img-teg(src='https://source.unsplash.com/1R63taCoSnM')
		li.wall-photo__item.wall-photo__item_position_top
			img.img-teg(src='https://source.unsplash.com/Z0iN43rOwO8')
	ul.wall-photo__list.wall-photo__list_direction_left.wall-photo_margin-top_val-15
		li.wall-photo__item.wall-photo__item_position_bottom
			img.img-teg(src='https://source.unsplash.com/3ZUsNJhi_Ik')
		li.wall-photo__item.wall-photo__item_position_bottom
			img.img-teg(src='https://source.unsplash.com/1R63taCoSnM')
		li.wall-photo__item.wall-photo__item_position_bottom
			img.img-teg(src='https://source.unsplash.com/YApiWyp0lqo')
		li.wall-photo__item.wall-photo__item_position_bottom
			img.img-teg(src='https://source.unsplash.com/wTYeNrbC9ok')
		li.wall-photo__item.wall-photo__item_position_bottom
			img.img-teg(src='https://source.unsplash.com/5QAeUF6Pduc')
		li.wall-photo__item.wall-photo__item_position_bottom
			img.img-teg(src='https://source.unsplash.com/tPmDQRs_MFc')
		li.wall-photo__item.wall-photo__item_position_bottom
			img.img-teg(src='https://source.unsplash.com/AavxWqRBG5M')
		li.wall-photo__item.wall-photo__item_position_bottom
			img.img-teg(src='https://source.unsplash.com/Z0iN43rOwO8')