.reviews
{

    &__slider
    {
        position: relative;
        width: 100%;
    }

    &__list
    {
        position: relative;
        white-space: nowrap;
        left: 0;
    }

    &__item
    {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    
}