include ../../common.blocks/slider/_text-mod/_text-mod
.decorative-elemetns.decorative-elemetns--left
	i.decorative-elemetns__big-simbol.decorative-elemetns__reviews T
	i.decorative-elemetns__small-text Our Portfolio