.card-container.blog__card-container
	.card__column
		.big-photo
			img.img-teg(src='https://source.unsplash.com/Oe9pdE4WgQs')
	.card__column.card__column_direction_column.card__column_width_medium
		h2.heading.heading_after_underlin-left.heading_size_medium Charger
		.textarea._margin-top_val_62
			p.text.text_initial-letter The most powerful and brand names in the  custom automotive industry. We now have franchises stretching across the world. We have worked with some of the largest brands in the world, including Fortune 500 companies. We are now a household name in multiple countries and plan to continue dominating the custom car world and expand our global reach with amazing rides and concepts.
			p.text._margin-top_val_32 We have an exceptional team, both in the workshop and office. We've done what others can't and we constantly strive to push the boundaries and expectations of this industry. If you or your company feel that you have something beneficial to offer our brand, we look forward to hearing from you.
		a.button.button_form_rectangle.button_hover_rectangle._margin-top_val_42(href='#')
			svg.button-form-rectangle__svg-teg(width="120" height="40" viewbox="0 0 120 40" xmlns="http://www.w3.org/2000/svg")
				rect.button-form-rectangle__rect-teg(x='0' y='0' fill='none' width='120' height='40')
			| more
.decorating.blog__decorating
	svg.decorating__svg-container(xmlns='http://www.w3.org/2000/svg')
			g.decorating__svg-group
				use.decorating__big-simbol-border(xlink:href='#decorating__C-big-simbol')
				use.decorating__big-simbol-fill(xlink:href='#decorating__C-big-simbol')
			symbol#decorating__C-big-simbol
				text.decorating__big-simbol(x='50%' y='50%') C
	i.decorating__small-text Our Portfolio
footer.footer
	include ../../common.blocks/footer/footer