.services__header
	h2.heading.heading_after_underlin-left.heading_size_medium.heading_color_white Services
	a.button.button_hover_line.button_color_white(href='#')
		span.button__text learn more
include ../../common.blocks/promo/promo
svg.services__two-bg(width='100%', height='25%')
	rect(x='0', y='0', width='100%', height='100%', fill='#000')
.decorating.services__decorating
	i.decorating__big-simbol S
	i.decorating__small-text Cars & Details