.blog__preview
	.blog__img
		img.img__teg(src='https://source.unsplash.com/ykb57L1P_rs')
	.blog__discription
		h2.heading About us
		p.paragraph.cut__62 Charger Customs - luxury automotive restyling center based in Corona, California. There is no limit to what we can do.
		a.btn.btn__rec.btn__rec--hover.cut__32(href='#')
			svg.btn__svg(width="120" height="40" viewbox="0 0 120 40" xmlns="http://www.w3.org/2000/svg")
				rect.btn__rect(x='0' y='0' fill='none' width='120' height='40')
			| more
.decorative-elemetns.decorative-elemetns--right
	i.decorative-elemetns__big-simbol A
	i.decorative-elemetns__small-text Who We Are