.blog__preview
	.blog__img
		img.img__teg(src='https://source.unsplash.com/Oe9pdE4WgQs')
	.blog__discription
		h2.heading Charger
		.blog__textarea.cut__32
			p.paragraph.paragraph__textarea.paragraph--initial_letter The most powerful and brand names in the  custom automotive industry. We now have franchises stretching across the world. We have worked with some of the largest brands in the world, including Fortune 500 companies. We are now a household name in multiple countries and plan to continue dominating the custom car world and expand our global reach with amazing rides and concepts.
			p.paragraph.paragraph__textarea.cut__32 We have an exceptional team, both in the workshop and office. We've done what others can't and we constantly strive to push the boundaries and expectations of this industry. If you or your company feel that you have something beneficial to offer our brand, we look forward to hearing from you.
		a.btn.btn__rec.btn__rec--hover.cut__32(href='#')
				svg(width="120" height="40" viewbox="0 0 120 40" xmlns="http://www.w3.org/2000/svg")
					rect(x='0' y='0' fill='none' width='120' height='40')
				| more
.decorative-elemetns.decorative-elemetns--right
	i.decorative-elemetns__big-simbol.decorative-elemetns__blog C
	i.decorative-elemetns__small-text Our Portfolio