h3.heading.projects__heading Projects
	.projects__block
		ul.slidershow.slidershow--right
			li.slidershow__item
				img.img__teg(src='https://source.unsplash.com/3ZUsNJhi_Ik')
			li.slidershow__item.slidershow__item--bottom
				img.img__teg(src='https://source.unsplash.com/1R63taCoSnM')
			li.slidershow__item.slidershow__item--bottom
				img.img__teg(src='https://source.unsplash.com/YApiWyp0lqo')
			li.slidershow__item.slidershow__item--bottom
				img.img__teg(src='https://source.unsplash.com/wTYeNrbC9ok')
			li.slidershow__item.slidershow__item--bottom
				img.img__teg(src='https://source.unsplash.com/5QAeUF6Pduc')
			li.slidershow__item.slidershow__item--bottom
				img.img__teg(src='https://source.unsplash.com/tPmDQRs_MFc')
			li.slidershow__item.slidershow__item--bottom
				img.img__teg(src='https://source.unsplash.com/AavxWqRBG5M')
			li.slidershow__item.slidershow__item--bottom
				img.img__teg(src='https://source.unsplash.com/Z0iN43rOwO8')
		.projects__row
			ul.slidershow.slidershow--left
				li.slidershow__item.slidershow__item--top
					img.img__teg(src='https://source.unsplash.com/hGIzTJ2Jvmw')
				li.slidershow__item.slidershow__item--top
					img.img__teg(src='https://source.unsplash.com/0GyzS1Hjjko')
				li.slidershow__item.slidershow__item--top
					img.img__teg(src='https://source.unsplash.com/d0yYWDJ1qDI')
				li.slidershow__item.slidershow__item--top
					img.img__teg(src='https://source.unsplash.com/q6LFMQ6wVZ0')
				li.slidershow__item.slidershow__item--top
					img.img__teg(src='https://source.unsplash.com/4HjFHFFypik')
				li.slidershow__item.slidershow__item--top
					img.img__teg(src='https://source.unsplash.com/pcwVJCSq5_k')
				li.slidershow__item.slidershow__item--top
					img.img__teg(src='https://source.unsplash.com/1R63taCoSnM')
				li.slidershow__item.slidershow__item--top
					img.img__teg(src='https://source.unsplash.com/Z0iN43rOwO8')
				a.btn.services__btn.btn--b_hover(href='#')
					span.btn__text More
.decorative.decorative__side--right
	i.decorative__sb_big.projects__sb_big P
	i.decorative__sb_small.projects__sb_small Our Portfolio