.slider.reviews__slider
	ul.slider__list.reviews__list
		li.slider__item.reviews__item.slider__item--active
			p.paragraph__quote These guys do amazing work here. They made my car awesome.
			.user__info
				span.user__name John Brown
				span.user__car Chevrolet Camaro
		li.slider__item.reviews__item
			p.paragraph__quote Lorem ipsum dolor sit amet
			.user__info
				span.user__name Brown John
				span.user__car Chevrolet
		li.slider__item.reviews__item
			p.paragraph__quote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, explicabo.
			.user__info
				span.user__name John
				span.user__car Camaro
	.slider__controls.reviews__slider-conrols
		a.slider__btn-prev.slider__btn-prev--arrow(href='#')
		a.slider__btn-next.slider__btn-next--arrow(href='#')
.decorative
	i.decorative__sb_big.reviews__decor T
	i.decorative__sb_small Our Portfolio