.services__container
		.services__header
			h2.heading.heading--white Services
			a.btn.btn--hover(href='#')
				span.btn__text.btn__text--white learn more
		ul.services__list
			li.services__item.services__description--active
				.services__img
					img.img__teg(src='https://source.unsplash.com/oLK5ovd1GZU')
				.services__description
					h3.heading__sb Tuning
					p.paragraph.services__paragraph Modification of the performance or appearance of a vehicle.
					a.btn.services__btn.btn--hover(href='#') 
						span.btn__text More
			li.services__item.services__description--active
				.services__img
					img.img__teg(src='https://source.unsplash.com/-xpLiZVXUcg')
				.services__description
					h3.heading__sb Restoration
					p.paragraph.services__paragraph Lorem ipsum dolor sit amet consectetur.
					a.btn.services__btn.btn--b_hover(href='#')
						span.btn__text More
			li.services__item.services__description--active
				.services__img
					img.img__teg(src='https://source.unsplash.com/HHaKG9DaQ6w')
				.services__description
					h3.heading__sb Repairs
					p.paragraph.services__paragraph Lorem ipsum dolor sit, amet consectetur adipisicing.
					a.btn.services__btn.btn--hover(href='#')
						span.btn__text More
.decorative
	i.decorative__sb_big.services__decor S
	i.decorative__sb_small Cars & Details