include ./base
	block head
		title Charger costum
block content
	.wrap
		.maincontent
			section.welcome.section--active
				include ./section/welcome
			section.about
				include ./section/about
			section.services
				include ./section/services
			section.projects
				include ./section/projects
			section.reviews
				include ./section/reviews
			section.blog
				include ./section/blog
			footer.footer
				include ../scss/components/footer/footer
		include ../scss/components/h-menu/h-menu
		nav.fixed-menu
			ul.nav__list.fixed-menu__list
				li.nav__item.fixed-menu__item.fixed-menu__item--active
					a.nav__link.nav__link--hover(href='#') about as
				li.nav__item.fixed-menu__item
					a.nav__link.nav__link--hover(href='#') services
				li.nav__item.fixed-menu__item
					a.nav__link.nav__link--hover(href='#') projects