.up-cut_big{
  margin: rem(62px) 0 0 0;
  @include landscape{
    margin: rem(62px / 1.4) 0 0 0;
}
  @include portrait{
    margin: rem(62px / 2) 0 0 0;
}
  @include landscape__phones{
    margin: rem(62px / 3) 0 0 0;
}
}
.up-cut_normal{
  margin: rem(42px) 0 0 0;
}
.up-cut_small{
  margin: rem(32px) 0 0 0;
  @include landscape{
    margin: rem(32px / 1.4) 0 0 0;
}
@include portrait{
  margin: rem(32px /1.2) 0 0 0;
}
@include portrait__phones{
  margin: rem(32px / 2) 0 0 0;
}
}