.slider__btn-prev,
.slider__btn-next 
{
    color: $white;
    text-transform: uppercase;
}


.reviews__slider-conrols {
    position: absolute;
    width: 100%;
    justify-content: space-around;
    top: 50%;
}