.logo
{
	text-decoration: none;
	display: flex;
	color: #fff;
	text-transform: uppercase;

	&__icon
	{
		padding: 0 rem(10px) 0 0;
	}

	&__text
	{
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-family: $playfair__bold;
		font-size: rem(20px);
	}

	&__subtitle {
		font-size: rem(9px);
		font-family: $proxima_regular;
	}
	
}