.slider
	ul.slider__list
		li.slider__item.slider__item--active
				h1.heading__welcome We’re Charger
				p.paragraph.welcome__text.cut__32 One of the most powerful and recognized brand names in the custom automotive industry.
				img.slider__img(src='https://source.unsplash.com/5QAeUF6Pduc')
				a.btn.cut__62.btn--hover(href='#')
					span.btn__text Read more
		li.slider__item
				h1.heading__welcome Lorem, powerful
				p.paragraph.welcome__text.cut__32 Lorem ipsum dolor, sit amet consectetur adipisicing.
				img.slider__img(src='https://source.unsplash.com/8mVdlJwcZao')
				a.btn.cut__62.btn--hover(href='#') 
					span.btn__text Read more
		li.slider__item
				h1.heading__welcome Lorem
				p.paragraph.welcome__text.cut__32 Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda?
				img.slider__img(src='https://source.unsplash.com/Z0iN43rOwO8')
				a.btn.cut__62.btn--hover(href='#')
					span.btn__text Read more
		li.slider__item
				h1.heading__welcome Lorem dolor
				p.paragraph.welcome__text.cut__32 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam deserunt corporis dolorem?
				img.slider__img(src='https://source.unsplash.com/6nzYYtJtVDk')
				a.btn.cut__62.btn--hover(href='#')
					span.btn__text Read more
		li.slider__item
				h1.heading__welcome Lorem ipsum dolor
				p.paragraph.welcome__text.cut__32 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, perferendis.
				img.slider__img(src='https://source.unsplash.com/WrKEgsBpRuY')
				a.btn.cut__62.btn--hover(href='#')
					span.btn__text Read more
	ul.pagination__list
		li.pagination__item 
			a.pagination__link 01
		li.pagination__item
			a.pagination__link 10
	.slider__controls
		a.slider__btn-prev.slider__btn-prev--line(href='#') prev
		a.slider__btn-next.slider__btn-next--line(href='#') next