h3.heading.heading_size_medium.heading_after_underline-center Projects
include ../../common.blocks/wall-photo/wall-photo
a.button.button_form_rectangle.button_hover_rectangle(href='#')
			svg.button-form-rectangle__svg-teg(width="120" height="40" viewbox="0 0 120 40" xmlns="http://www.w3.org/2000/svg")
				rect.button-form-rectangle__rect-teg(x='0' y='0' fill='none' width='120' height='40')
			| more
.decorating.projects__decorating
	svg.decorating__svg-container(xmlns='http://www.w3.org/2000/svg')
			g.decorating__svg-group
				use.decorating__big-simbol-border(xlink:href='#decorating__P-big-simbol')
				use.decorating__big-simbol-fill(xlink:href='#decorating__P-big-simbol')
			symbol#decorating__P-big-simbol
				text.decorating__big-simbol(x='50%' y='30%') P
	i.decorating__small-text Our Portfolio