.btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-size: rem(14px);
    text-decoration: none;
    letter-spacing: 0.1em;
    width: 120px;
    height: 35px;
}


.btn_hover-line-torectangle
{
    @include effect--line-to-rectangle($gold, $black, 1px, 10px 6px, 0.2s);
}