.slider__btn-prev_line
{

  &:after
  {
      content: '';
      display: inline-block;
      margin: rem(4px) rem(16px);
      width: 47px;
      height: 1px;
      background: $gold;
  }
  
}

.slider__btn-next_line
{
  position: absolute;
  right: 0;

  &:before
  {
      content: '';
      display: inline-block;
      margin: rem(4px) rem(16px);
      width: 47px;
      height: 1px;
      background: $gold;
  }

}