aside.h-menu__content
			ul.h-menu__list
				li.h-menu__item
						a.h-menu__link.nav__link--hover(href='#') about as
				li.h-menu__item
					a.h-menu__link.nav__link--hover(href='#') services
				li.h-menu__item
					a.h-menu__link.nav__link--hover(href='#') projects