.social-networks
	ul.social-networks__list
		li.social-networks__item
			a.social-networks__link.social-networks__link_hover(href='#') Facebook
		li.social-networks__item
			a.social-networks__link.social-networks__link_hover(href='#') Twitter
		li.social-networks__item
			a.social-networks__link.social-networks__link_hover(href='#') Youtube