.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-size: rem(14px);
    text-decoration: none;
    letter-spacing: 0.1em;
    width: 120px;
    height: 35px;
}

.btn-rec {
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    font-size: rem(14px);
    padding: rem(20px);
    color: $black;
}

.btn-rec--hover {
    @include hover__rec_effect;
}