.text-slider-viewport-bg 
//Блок в который выводится фоновая картинки на секции welcome
{
	position: absolute;
	filter: grayscale(100%);
	box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5);
	top: 0px;
	left: 0px;
	right: 0px;
	opacity: 0.5;
	bottom: 0px;
	width: 100%;
	height: 100%;
}

.text-slider
{
	position: relative;
	width: 100%;

	&__list
	{
		position: relative;
		white-space: nowrap;
		left: 0;
	}

	&__item
	{
		display: inline-block;
		text-align: center;
		width: 100%;
	}

	&__img
	{
		position: absolute;
		display: inline-block;
		width: 1px;
		height: 1px;
		z-index: -1;
		right: 99999px;
	}

	&__controls
	{
		display: flex;
		position: absolute;
		width: 100%;
		justify-content: space-around;
		top: 50%;
		height: 5vh;
	}
		
}