.text-slider
	ul.text-slider__list
		li.text-slider__item.text-slider_active
			p.quote These guys do amazing work here. They made my car awesome.
			.user-info
				p.user-info__name John Brown
				p.user-info__car Chevrolet Camaro
			img.text-slider__img(src='https://source.unsplash.com/5QAeUF6Pduc')
		li.text-slider__item
			p.quote Lorem ipsum dolor sit amet
			.user-info
				p.user-info__name Brown John
				p.user-info__car Chevrolet
			img.text-slider__img(src='https://source.unsplash.com/Z0iN43rOwO8')
		li.text-slider__item
			p.quote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, explicabo.
			.user-info
				p.user-info__name John
				p.user-info__car Camaro
			img.text-slider__img(src='https://source.unsplash.com/6nzYYtJtVDk')
	.text-slider__controls
		a.slider-controls__button-prev.slider-controls__button-prev_arrow(href='#')
		a.slider-controls__button-next.slider-controls__button-next_arrow(href='#')