.heading_after_underline-center
{		
	display: flex;
  justify-content: center;
	&:after
	{
		content: '';
		position: absolute;
		height: 2px;
		width: 40px;
		bottom: -25px;
		background: $gold;
	}
}