	nav.nav
		ul.nav__list
			li.nav__item
				a.nav__link.nav__link--hover(href='#', data-scroll-to='1') about as
			li.nav__item
				a.nav__link.nav__link--hover(href='#', data-scroll-to='2') services
			li.nav__item
				a.nav__link.nav__link--hover(href='#', data-scroll-to='3') projects