.card-container.card-container_content_center
	.card__column
		.big-photo
			img.img-teg(src='https://source.unsplash.com/ykb57L1P_rs')
	.card__column.card__column_direction_column.card__column_width_medium
		h2.heading.heading_after_underlin-left.heading_size_medium About us
		p.text._margin-top_val_62 Customs - luxury automotive restyling center based in Corona, California. There is no limit to what we can do.
		a.button.button_form_rectangle.button_hover_rectangle._margin-top_val_42(href='#')
			svg.button-form-rectangle__svg-teg(width="120" height="40" viewbox="0 0 120 40" xmlns="http://www.w3.org/2000/svg")
				rect.button-form-rectangle__rect-teg(x='0' y='0' fill='none' width='120' height='40')
			| more
	.decorating.about__decorating
		svg.decorating__svg-container(xmlns='http://www.w3.org/2000/svg')
			g.decorating__svg-group
				use.decorating__big-simbol-border(xlink:href='#decorating__A-big-simbol')
				use.decorating__big-simbol-fill(xlink:href='#decorating__A-big-simbol')
			symbol#decorating__A-big-simbol
				text.decorating__big-simbol(x='50%' y='50%') A
		i.decorating__small-text Who We Are