.btn {
    position: relative;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    font-size: rem(14px);
    text-decoration: none;
    letter-spacing: 0.1em;
    width: 105px;
    height: 35px; 
}

.btn__rectangle{
    border: 2px solid $gold;
    width: 190px;
    font-size: rem(14px);
    padding: rem(20px);
}

.btn--c_gb {
    color: $gold; 
    border-bottom: 1px solid $gold;
}

.btn--b_hover {
    @include hover__b_effect($gold, $black, 1px, 7px, 0.2s);
}