.btn {
    position: relative;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    font-size: rem(14px);
    text-decoration: none;
    letter-spacing: 0.1em;
    width: 130px;
    height: 40px;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  svg rect,{
    fill: none;
    stroke: $gold;
    stroke-width: 1;
  }

.btn__rec{
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
    font-size: rem(14px);
    padding: rem(20px);
}

.btn--c_gb {
    color: $gold; 
    border-bottom: 1px solid $gold;
}

.btn--b_hover {
    @include hover__b_effect($gold, $black, 1px, 10px 6px, 0.2s);
}

.btn__rec--hover{
    @include hover__rec_effect;
}