.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(14px);
    text-decoration: none;
    letter-spacing: 0.1em;
    width: 96px;
    height: 34px; 
}

.bnt__rectangle{
    text-transform: uppercase;
    border: 2px solid $gold;
    text-align: center;
    width: 120px;
    font-size: 14px;
    padding: rem(5px) rem(20px);
}

.btn--c_gb {
    color: $gold; 
    border-bottom: 1px solid $gold;
}

.btn--b_hover {
    @include hover__b_effect($gold, $black, 1px, 7px, 0.2s);
}