//block
.decorative-elemetns {
    display: flex;
    flex-direction: column;
    color: $gold;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    top: 20%;
    opacity: .5;
    line-height: 1;
    @include landscape {
        height: 75%;
        top: 5%;
    }
}

//elemetns
.decorative-elemetns__big-simbol {
    font-size: rem(300px);
    font-family: $playfair__bold;
    font-style: normal;
    position: relative;
    @include landscape {
        font-size: rem(300px / 1.3);
        top: 25%;
    }
    @include portrait {
        font-size: rem(300px / 1.6);
        top: -12%;
    }
    @include landscape__phones {
        font-size: rem(300px / 1.6);
        top: -15%;
    }
    @include portrait__phones {
        font-size: rem(300px / 2.6);
    }
}

.decorative-elemetns__service {
    top: -65%;
    @include landscape {
        top: -35%;
    }
    @include portrait {
        top: -60%;
    }
    @include landscape__phones {
        top: -60%;
    }
    @include portrait__phones {
        top: -53%;
    }
}

.decorative-elemetns__projects {
    top: -30%;
    @include landscape {
        top: 15%;
    }
    @include portrait {
        
    }
    @include landscape__phones {
        
    }
    @include portrait__phones {
       top: 0%;
    }
}

.decorative-elemetns__reviews {
    top: -70%;
    @include landscape {
        top: -25%;
    }
    @include portrait {
        top: -62%;
    }
    @include landscape__phones {
        top: -62%;
    }
    @include portrait__phones {
        top: -54%;
    }
}

.decorative-elemetns__blog {
    top: -68%;
    @include landscape {
        top: -25%;
    }
    @include portrait {
        top: -61%;
    }
    @include landscape__phones {
        top: -62%;
    }
    @include portrait__phones {
        top: -54%;
    }
}

.decorative-elemetns__small-text {
    display: flex;
    transform: rotate(-90deg);
    &:after {
        content: '';
        display: inline-block;
        margin: rem(10px) rem(16px);
        width: 47px;
        height: 1px;
        background: $gold;
    }
    @include landscape {
        bottom: 0;
    }
    @include portrait {
        bottom: -35%;
    }
    @include landscape__phones {
        bottom: -30%;
    }
    @include portrait__phones {
        bottom: -30%;
    }
}

.decorative-elemetns__small-text--bottom{
    position: relative;
    @include portrait {
        bottom: -15%;
    }
    @include landscape__phones {
        bottom: -30%;
    }
}
.decorative-elemetns__small-text--right{
    right: -15%;
}

//mod
.decorative-elemetns--right {
    right: 5%;
    @include portrait {
        right: 0;
    }
    @include portrait__phones {
        right: -5%;
    }
}

.decorative-elemetns--left {
    @include portrait__phones {
        left: -5%;
    }
}