.cover-slider__pagination
{
	position: relative;
	display: flex;
	@extend %playfair__bold;
	font-size: rem(26px);
	right: 15%;  

	&-item
	{

		&:after
		{
			content: '';
			display: inline-block;
			margin: rem(4px) rem(20px);
			width: 165px;
			height: 1px;
			opacity: 0.55;
			background: $white;
		}

		&:last-child::after
		{
			content: none;
		}

	}
	
}