slider-controls.cover-slider
	ul.cover-slider__list
		li.cover-slider__item.cover-slider__item_active
			h1.heading.heading_size_big.heading_color_gold We’re Charger
			p.paragraph.paragraph_main-text One of the most powerful and recognized brand names in the custom automotive industry.
			img.cover-slider__img(src='https://source.unsplash.com/5QAeUF6Pduc')
			a.button.button_hover_line(href='#')
				span.text Read more
		li.cover-slider__item
			h1.heading.heading_size_big.heading_color_gold Lorem, powerful
			p.paragraph.paragraph_main-text Lorem ipsum dolor, sit amet consectetur adipisicing.
			img.cover-slider__img(src='https://source.unsplash.com/8mVdlJwcZao')
			a.button.button_hover_line(href='#') 
				span.text Read more
		li.cover-slider__item
			h1.heading.heading_size_big.heading_color_gold Lorem
			p.paragraph.paragraph_main-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda?
			img.cover-slider__img(src='https://source.unsplash.com/Z0iN43rOwO8')
			a.button.button_hover_line(href='#')
				span.text Read more
		li.cover-slider__item
			h1.heading.heading_size_big.heading_color_gold Lorem dolor
			p.paragraph.paragraph_main-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam deserunt corporis dolorem?
			img.cover-slider__img(src='https://source.unsplash.com/6nzYYtJtVDk')
			a.button.button_hover_line(href='#')
				span.text Read more
		li.cover-slider__item
			h1.heading.heading_size_big.heading_color_gold Lorem ipsum dolor
			p.paragraph.paragraph_main-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, perferendis.
			img.cover-slider__img(src='https://source.unsplash.com/WrKEgsBpRuY')
			a.button.button_hover_line(href='#')
				span.text Read more
	.cover-slider__pagination
			a.cover-slider__pagination-button 01
			a.cover-slider__pagination-button 10
	.cover-slider__controls
		a.slider-controls__button-prev.slider-controls__button-prev_line(href='#') prev
		a.slider-controls__button-next.slider-controls__button-next_line(href='#') next